@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  :root {
    --background: hsl(210,40%,96.1%);
    --foreground: hsl(0,0%,100%);
    --card: 150 50% 98%;
    --card-foreground: 150 45% 10%;
    --popover: 150 50% 98%;
    --popover-foreground: 150 45% 10%;
    --primary: hsl(160.1,84.1%,39.4%);
    --primary-foreground: 150 50% 98%;
    --secondary: hsl(210,40%,96.1%);
    --secondary-foreground: 150 45% 10%;
    --muted: 150 30% 96%;
    --muted-foreground: 150 30% 40%;
    --accent: 150 55% 92%;
    --accent-foreground: 150 45% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 150 50% 98%;
    --border: hsl(228.6,84%,4.9%);
    --input: hsl(210,40%,96.1%);
    --ring: 142 76% 36%;
    --radius: 0.75rem;
  }

  .dark {
    --background: hsl(222.2,47.4%,11.2%);
    --foreground: hsl(210, 40%, 96.1%);
    --card: 150 45% 5%;
    --card-foreground: 150 50% 98%;
    --popover: 150 45% 5%;
    --popover-foreground: 150 50% 98%;
    --primary: hsl(160.1,84.1%,39.4%);
    --primary-foreground: hsl(210,40%,96.1%);
    --secondary: hsl(210, 40%, 96.1%);
    --secondary-foreground: hsl(210,40%,96.1%);
    --muted: 150 30% 15%;
    --muted-foreground: 150 30% 70%;
    --accent: 150 30% 15%;
    --accent-foreground: 150 50% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 150 50% 98%;
    --border: 150 30% 20%;
    --input: 150 30% 20%;
    --ring: 142 76% 36%;
  }
}



// [data-theme='dark'] {
//   --background: black;
//   --foreground: black;
// }

@layer base {
  * {
    @apply border-border;
  }
  // body {
  //   @apply bg-background text-foreground;
  // }
  body {
    @apply bg-background dark:bg-background text-black dark:text-white;
  }

}
